@media (min-width:280px) and (max-width: 600px) {
  .upper-content{
padding: 0px;
  }
  .social-links{
opacity: 0;
  }
  .learn-more{
    
    padding: 10px 12px;
      text-align: center;
  }
  .lower-content{
display: flex;
  }
  .grass{
    bottom: -2%;
  }
  .mid-grass{
bottom: 0%;
  }
  .right-grass{
bottom: 1%;
width: 120px;
  }
  .left-grass{
bottom: 1%;
  }
  .upp{
height: auto;
  }
  .service-card{
      display: flex;
      justify-content: center;
  }
  .inner-mid {
    width: 100%;
  }
  .anime{
border: 1px solid;
border-radius: 15px;
width: 80%;
  }
  .about-uss{
display: flex;
justify-content: center;
flex-direction: column;
}
.what-we-offer {
left: 0%;
}
.pose{
padding-top: 35px;
}
.top-2{
text-align: center;
}
.top-3{
text-align: center;
}
.form-up{
width: 100%;
}
#name {
width: 100%;
}
#help{
width: 100%;
}
.saved{
width: 100%;
display: flex;
flex-direction: column;
gap: 15px;
margin: 0;
}
.right-5{
width: 100%;
height: auto;
}
.right-6{
display: flex;
flex-direction: column;
}
.sec-5-content{
text-align: center;
}
.shop-leaf{
z-index: -9;
}
.test-bg{

height: 200px;
top: 93%;
}
.opaque{
margin-top: 2rem;
}


/* .get-estimate{
margin-top: 30%;
}  */
}
@media (min-width:600px) and  (max-width:768px){
.service-card{
      display: flex;
      justify-content: center;
  }
  .anime{
border: 1px solid;
border-radius: 15px;
width: 80%;
  }
  .pose{
padding-top: 35px;
}
.form-up{
width: 100%;
}
.help{
width: 87%;
}
.saved{
width: 100%;
display: flex;
flex-direction: column;
gap: 15px;
}
.right-5{
width: 100%;
}
.mana{
width: 100%;
}
.right{
width: 75%;
    bottom: 42%;
}
.left-grass {
  bottom: -27%;
}
.mid-grass {
  right: 29%;
  bottom: -28%;
}
.grass{
  bottom: -33%;
}
.boxes{
margin-top: 8rem;
}
.right-grass{
  bottom: -27%;
  width: 180px;
}
  
}
@media (min-width:768px) and  (max-width:992px){
.service-card{
      display: flex;
      justify-content: center;
  }
  .social-links{
    opacity: 1;
      }
  .anime{
border: 1px solid;
border-radius: 15px;
width: 100%;
  }
  .form-up{
width: 96%;
  }
  .pose{
display: flex;
justify-content: center;
  }
  .about-image img {
width: 85%;
height: 100%;
object-fit: contain;
}
#help{
width: 67%;
}
.right-5{
width: 100%;
height: 85vh;
}
.saved{
flex-direction: column;
}
  
}
@media (min-width:992px) and (max-width:1280px) {
/* .right-5 {
height: 102vh;
} */
.form-up{
width: 51%;
}
#help{
width: 78%;
}
}
.client-says{
height: 90vh;
}